extends ../layout

block scripts
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  script(src='/static/js/libs/json2.js')
  script(src='/static/js/libs/underscore.js')
  script(src='/static/js/libs/backbone.js')
  script(src='/static/js/libs/mustache.js')
  //- script(src='/static/js/libs/backbone.localStorage.js')

  //- uncomment one of the below scripts to include different backbone.js experiments
  //- script(src='/static/js/app/app.js')
  //- script(src='/static/js/app/app2.js')
